<?xml version="1.0"?>
<configuration>
  <!--useLegacyV2RuntimeActivationPolicy="true"-->
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <!--<add key="cnnString" value="Data Source=222.222.222.217;Database=StationaryManagement;User Id=sa;Password=123456" />-->
    <!--<add key="cnnstring" value="data source=mis-dta\sql2000;database=stationarymanagement;user id=sa;password=sa" />-->
    <!--<add key="cnnString" value="Data Source=JONY;Database=StationaryManagement;User Id=sa;Password=sa" />-->
    <!--<add key="cnnString" value="Data Source=MISS-DTA;Database=StationaryManagement;User Id=sa;Password=1234567" />-->
    <add key="cnnString" value="Data Source=dbsrv-h;Database=HOStationaryManagement;User Id=sa;Password=bplsoft" />
    <!--<add key="cnnString" value="Data Source=dbsrv-h;Database=EngineeringStoreManagement;User Id=sa;Password=bplsoft" />-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>